.image {

    margin-left: 20px;

}

.paragraph {
    font-size: 12px;
    color: rgba(198, 198, 198, 1);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 256px);

    grid-template-rows: repeat(auto-fill, 87px);

    gap: 16px;

    padding: 20px;
}

.heading {
    color: rgba(47, 53, 103, 1);
}

.header {
    text-align: left;
    margin-bottom: 20px;
    color: rgba(47, 53, 103, 1);

}

.item {
    flex: 0 0 calc(50% - 16px);

    max-width: calc(50% - 16px);

    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;

    padding: 10px;
}


.text {
    background: none;
    margin-top: 8px;
    font-size: 14px;
}



.text {
    margin-top: 8px;
    font-size: 16px;
}

.cart-image {
    display: flex;
    justify-content: center;

    align-items: center;

    margin-right: 70px;

}




.cart-item {
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border: 1px solid #ccc;

    border-radius: 8px;

    padding: 10px;

    background-color: #f9f9f9;

}



.text {
    margin-top: 8px;

    font-size: 10px;

}

.box p {
    width: 40%;
    display: flex;
    justify-content: space-between;
    color: rgba(152, 152, 152, 1);
    align-items: center;
    border-bottom: 1.5px solid rgba(239, 239, 239, 1);
    margin: 10px 0;

}

.backImage {
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin-left: 10px;

}



.item:nth-child(1) {



    background: rgba(203, 250, 223, 1);

}

.item:nth-child(2) {
    background: rgba(252, 230, 222, 1);

}

.item:nth-child(3) {
    background: rgba(240, 242, 255, 1);

}

.item:nth-child(4) {
    background: rgba(221, 240, 252, 1);

}

.item:nth-child(5) {
    background: rgba(250, 240, 255, 1);


}

.item:nth-child(6) {
    background: rgba(227, 255, 253, 1);


}

/* .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;
}

.box__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}

.box__content__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
}

.box__content__info__title {
    font-family: "Poppins", sans;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #2F3567;

}

.box__content__info__para {
    font-family: "Poppins", sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 15.6px;
    color: #C6C6C6;
}

.box__help {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    justify-content: center;
}

.box__help__title {
    font-family: "Poppins", sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 18.2px;
    color: #2F3567;

}

.box__help__tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.box__help__tabs__tab {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}


.box__help__tabs__tab__name {
    font-family: "Poppins", sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    color: #2F3567;

}

.box__faqs {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    ;
    justify-content: center;
}

.box__faqs__faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
}

.box__faqs__faq__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box__faqs__faq__content__title {
    font-family: "Poppins", sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #989898;

}

.box__faqs__faq__content__btn {
    width: 24px;
    height: 24px;
    /* background-image: url('../../assets/arrow-right-lite.svg'); */
/* background-position: center;
background-repeat: no-repeat;
background-size: cover;
cursor: pointer;
}

.box__item__divider {
    background-color: #EFEFEF;
    height: 1.5px;
} */