.searchIcon {
    position: relative;
    margin: 30px auto;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    /* Adjust as needed */
}

.icon {
    width: 24px;
    /* Adjust size of the forward button */
    height: 24px;
    margin-right: 10px;
    /* Space between the button and input */
    background: none;
    border: none;
    cursor: pointer;
}

.imgContainer {
    position: absolute;
    color: rgba(187, 187, 187, 1);
    /* Position the icon absolutely within the input container */
    left: 10px;
    /* Aligns the search icon to the left of the input field */
    top: 50%;
    margin-left: 30px;
    /* Center vertically */
    transform: translateY(-50%);
    /* Adjust for vertical centering */
    /* width: 20px; */
    /* Width of the search icon */
    /* height: auto; */
    /* Maintain aspect ratio */
    pointer-events: none;
    /* Prevent clicks on this element */
}



.searchInput {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    background: rgba(255, 255, 255, 1);
    width: 100%;
    padding: 10px 40px 10px 40px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

.searchInput::placeholder {
    color: #aaa;
    opacity: 1;
}